*{
    margin: 0px;
    padding: 0px;
}
nav{
    color:white;
    background-color: black;
    padding: 15px;
}
li,h1,ul{
    display: inline;
   
}
ul{
    margin-left: 60%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}
.Searchbar{
    padding: 50px;
    text-align: center;
}
.Box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display:inline-block;
    width:220px;
}
img{
    width: 220px;
    
}
.Products{
    text-align: center;
}
p{
    color:darkcyan;
    cursor: pointer;
}
.Box:hover{
    background-color: black;
    color: white;

}
.Aboutus{
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}
.Contact{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
}
